body {
  padding-top: 80px;
  height: 100%;
  background-color: #f9f9fa;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.navbar, footer {
  padding: 0;
  background-color: #0c0c0d;
}

.nav-item {
  text-align: center;
  display : flex;
  align-items : center;
  justify-content: center;
}


.index {
  padding-top: 15px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}


.text div {
  width: 80%;
  text-align: center;
  margin: auto;
}


.container-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
}

table {
  box-shadow: 5px 10px 8px 10px #b1b1b3;
}


.mozilla-tool, .photon-rule {
  color: white;
  text-align: center;
  height: 150px;
  position: relative;
}

.mozilla-tool-wrap, .photon-rule-wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mozilla-tool-name, .photon-rule-name {
  font-weight: bold;
}


ol li {
  padding-left: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}


.page-content {
  padding-bottom: 50px;
}

footer {
  height: 64px;
  display: flex;
  align-items: center;
  margin-top: -64px;
}

.for-footer {
  padding: 20px;
  padding-bottom: 64px;
  min-height: 100%;
}


@media (min-width: 992px) {
	#sakums {
	  width: 80px;
	}
	#ievads {
	  width: 75px;
	}
	#vardnica {
	  width: 85px;
	}
	#mozilla {
	  width: 130px;
	}
	#photon {
	  width: 130px;
	}
	#secinajumi {
	  width: 100px;
	}
	#avoti {
	  width: 100px;
	}
}

@media (max-width: 991px) {
  .nav-item {
    width: auto;
  }
  .navbar {
	padding-top: 12px;
    padding-bottom: 12px;
  }
  .img-fluid {
    width: 30%;
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .navbar {
	padding-left: 14px;
  }
  .navbar-toggler {
	margin-right: 14px;
  }
  .img-fluid {
    width: 45%;
  }
  .text div {
    width: 100%;
  }
}




